<%= form_for(@workitem) do |f| %>
    <% if @workitem.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@workitem.errors.count, "error") %> prohibited this workitem from being saved:</h2>

        <ul>
        <% @workitem.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class = "form_group">
      <%if !@workitem.status.nil? && @workitem.status.name == "Published"   %>
        <span class="label label-primary"><%=@workitem.status.name unless @workitem.status.nil? %></span>
      <%else%>
        <span class="label label-default"><%=@workitem.status.name unless @workitem.status.nil? %></span>
      <%end%>
    </div>
    <br>
    <div class = "form_group">
      <%= f.label "Name"%><br/>
      <%= f.text_field :name, class: "form-control" %><br/>
    </div>

    <div class = "form_group">
      <%= f.label "Description"%><br/>
      <%= f.text_area :description, class: "form-control"  %><br/>
    </div>
  



    <div class="actions">
        <%= f.button "Make offer", name: :commit, value: "Make offer", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Make offer"} %>      
    </div>
    
    <% render partial: "offers/offer", locals: {workitem: @workitem}%>

    <div class="actions">
      <%if !@workitem.status.nil? && @workitem.status.name == "Published"   %>
        <%= f.button "Unpublish", name: :commit, value: "Unpublish", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Unpublish"} %>
        <%= f.button "Update", name: :commit, value: "Update" , class: "btn btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Update"} %>    
      <%else%>
        <%= f.button "Publish", name: :commit, value: "Publish", class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Publish"} %>
        <%= f.button "Save as a draft", name: :commit, value: "Save as a draft", class: "btn btn-default", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Save as a draft"}  %>
      <%end%>
    </div>
<% end %>

