<div class = "container" >
  <h1>Listing Workitems</h1>

  <% @workitems.each do |workitem| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=workitem.name%></div>
      <div class="panel-body">
          
          <p><%=workitem.description%></p>
          <p><%= link_to 'Show', workitem %>

            <% if workitem.user == current_user  %>
              <%= link_to 'Edit', edit_workitem_path(workitem) %>
              <%= link_to 'Destroy', workitem, method: :delete, data: { confirm: 'Are you sure?' } %>
              
            <% end %>
        </p>
       
      </div>
    </div>
  <% end %>
</div>   


         