  
  <% if  user_signed_in? %> 
    <% if user_signed_in? && current_user.is_customer? %>
      <h1>My workitems</h1>
    <%else%>
      <h1>Workitems</h1>
    <%end%>
  <%end%>
  <% @workitems.each do |workitem| %>
    <div class="panel panel-default">
      <div class="panel-heading"><%=workitem.name%></div>
      <div class="panel-body">
          
          <p><%=workitem.description%></p>
          <p><%= link_to 'Show', workitem %>

            <% if (workitem.user == current_user && user_signed_in? ) || current_user.is_admin?%>
              <%= link_to 'Edit', edit_workitem_path(workitem) %>
              <%= link_to 'Destroy', workitem, method: :delete, data: { confirm: 'Are you sure?' } %>
              
            <% end %>
        </p>
       
      </div>
    </div>
  <% end %>



         