	<h1>Workitem</h1>
    <div class="panel panel-default">
    	
    	<div class="panel-heading">
    		<%=@workitem.name%>
	      <%if !@workitem.status.nil? && @workitem.status.name == "Published"   %>
	        <span class="wi_stat label label-primary"><%=@workitem.status.name unless @workitem.status.nil? %></span>
	      <%else%>
	        <span class="wi_stat label label-default"><%=@workitem.status.name unless @workitem.status.nil? %></span>
	      <%end%>	
    	</div>
    	<div class="panel-body">
    	<p><%=@workitem.description%>
	    	<% form_for Offer.new do |f| %>
		    	<div class="actions">
		        	<%= f.button "Make offer", name: :commit, value: "Make offer", class: "btn btn-primary wi_stat", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>Make offer"} %>     
		        </div> 
	    	<%end%>

		</p>

	</div>

    	</div>
			<%= link_to 'Edit', edit_workitem_path(@workitem) %> |
			<%= link_to 'Back', workitems_path %>
		</div>
    
    <% render partial: "offers/offer", locals: {workitem: @workitem}%>



